<div class='page-wrapper'>
  <nav class="side-wrapper navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon nav-button"></span>
    </button>
      <!-- <a class="menu1 nav-link" href="#">Home</a> -->
      <div class="collapse relative navbar-collapse links1" id="navbarTogglerDemo03">
        <div class='row side-content'>
          <div class=''>
            <img id='me' src='../assets/me.jpg'>
            <h1 class='nav-header'>Alex Reyes</h1>
            <h5 class='nav-sub-header'>Always keep learning!</h5>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 flex-sm-column">
              <li class="nav-item ">
                <a class="nav-link nav-tab" href="#about-me">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-tab"  href="#contact" >Contact</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href='#vardas'>Vardas Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="#reboot">Reboot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="#google">Google Maps App</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="#fintech">Fintech Web Wpp</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
  </nav>

  <main class='main-wrapper'>
    <div class='about' id='about-me'>
      <h1 class='main-font'>Hello World!</h1>
      <p class='me'>I'm Alex Reyes, a software developer specializing in web apps and mobile application with the best UX users can get. In addition, I have a business degree from SDSU,
          and I'm passionate about innovation and tech startups. I always try to keep my self busy by reading about tech and business or improving my code. Connect with me on LinkedIn or
          send me a message and say hi!</p>
      <div class='contact-wrapper' id='contact'>
        <a class="resume btn btn-info" href='#' [routerLink]="['/resume']" routerLinkActive="active"><i class="fas fa-file-pdf"></i> Resume</a>
        <!-- <object width="400" height="500" type="application/pdf" data="../assets/resume-site-sm.pdf">
          <p>Insert your error message here, if the PDF cannot be displayed.</p>
        </object> -->
        <div>
          <a class='contact-button btn' href='https://www.linkedin.com/in/alex-reyes-a32b06153/'><i class="fab icon fa-linkedin"></i></a>
          <a class='contact-button btn' href="https://github.com/iamalx"><i class="fab icon fa-github"></i></a>
          <a class='contact-button btn' href="mailto:iamalx@outlook.com?Subject=Connection%20Inquiry" target="_top"><i class="fas icon fa-at"></i></a>
        </div>
      </div>
    </div>
    <div class='projects' >
        <h3 id='experience-hd'>Experience/Projects</h3>
        <div class='vardas sect' id='vardas'>
          <h1 class='title-hd'>Operations Manager</h1>
          <p>Nov 2018 – Present -<a href='https://zone.health'>Vardas Solutions</a></p>
          <h4 class='sub-header'>Examples:</h4>
          <div id="carouselExampleControls" class="carousel slide img-shadow img-wrapper" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/zone-home.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/zone-login.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/zone-onboard.png" class="d-block w-100 img" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            
          </div>
          <p class='footnote'>App Mockups*</p>
          <h4 class='sub-header'>Description</h4>
            <p>Vardas Solutions is biometrics startup located in San Diego's biotech hub with 4 patent-pending technologies, and 424K raised. Their product, Zone,
                is a wearable device that uses AI and 25 years on HRV biofeedback therapy to synchronize heart rate, respiration, and blood pressure through a guided breathing rate.
                This suppresses the "stress responsive" making users more resilient to stress, anxiety, and depression.</p>
          <h4 class='sub-header'>Roles:</h4>
            <ul>
              <li>Design the application mockups and conduct user test interviews to get the best UX.</li>
              <li>Support on software development planning, such as a timeline for the mobile app, web portal, admin site, database, and firmware and create the specifications document.</li>
              <li>Support on building a team of engineers, such as interviewing engineers and meeting with engineering firms abroad to assess fitness and candidacy.</li>
              <li>Conduct alpha and beta test of mobile application with target market provided by healthcare centers.</li>
            </ul>
            <div class="h5-section ">
                <p class='sub-header-6'>Used:</p>
                <p class='content1'>Adobe XD</p>
            </div>
            <div class="h5-section">
                <p class='sub-header-6'>Source: </p>
                <p class='content1'>Work in process. Will keep you update ;)</p>
            </div>  
        </div>
        <div class='reboot sect' id='reboot'>
          <h1 class='title-hd'>Reboot App</h1>
          <p>Ocotober, 2018 - Rebot Org</p>
          <h4 class='sub-header'>Examples:</h4>
          <div id="carouselExampleControls" class="carousel slide img-shadow img-wrapper-reboot" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/reboot-login.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/reboot-dashboard.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/reboot-wizard.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/reboot-history.png" class="d-block w-100 img" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <h4 class='sub-header'>Description</h4>
          <p>Reboot is a non-profit organization that helps veterans transition into civilian life. Reboot is a tablet application created for veterans with the best user
            experience that makes it effective for veterans to accomplish a set of the task before they leave the military. This includes:</p>
            <ul>
              <li>A wizard that guides veterans through the app.</li>
              <li>A timeline that details the task performed and notifications when users are being left behind.</li>
              <li>And an assessment that shows a veteran's current situation and suggestions on areas that need improvement.</li>
            </ul>
          <h4 class='sub-header'>Roles:</h4>
          <ul>
            <li>Create personas and a storyboard on how veterans would interact with the app</li>
            <li>Worked with 3 developers and 1 team lead following an agile methodology; used git for version control, created issues, pull-request, and performed code reviews.</li>
            <li>Used JavaScript, Angular an Ionic to code a prototype application.</li> 
            <li>Designed RESTful backend server allowing personal data to be stored persistently in an online database.</li>
          </ul>
          <div class="h5-section">
              <p class='sub-header-6'>Used: </p>
              <p class=' content1'>JavaScript, CSS, HTML, Ionic Framework, Heroku, MongoDB, Express, Chart.js, Angular, Git, Jest </p>
          </div>
          <div class="h5-section">
              <p class='sub-header-6'>Source: </p>
              <a class='content1' href="https://github.com/SoftStackFactory/reboot">Repository</a>
              <p class="separator">|</p>
              <a class='content1'href="https://finstockapp.herokuapp.com">Site</a>
            </div>   
        </div>
        <div class='google sect' id='google'>
          <h1 class='title-hd'>Gloogle Maps App</h1>
          <p>August, 2018</p>
          <h4 class='sub-header'>Examples:</h4>
          <div id="carouselExampleControls" class="carousel slide img-shadow img-wrapper" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/map-home-md.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/map-home2-md.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/map-discover-md.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/map-more-md.png" class="d-block w-100 img" alt="...">
              </div> 
              <div class="carousel-item ">
                <img src="../assets/map-fav-md.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/map-home-ios.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/map-login-ios.png" class="d-block w-100 img" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <h4 class='sub-header'>Description</h4>
          <p>Google provides awesome products and services that we all enjoy every day. One of them is Google Maps. This application was build using Google Map's API and given a twist.
              The main purpose is to allow users to discover awesome places close by and look at the price range, open status, and ratings. Users can search using their geolocation or by using the search prediction,
              and they can customize their search by the type of location. The best part is the ability to save the user's favorite places to a database.</p>
          <div class="h5-section">
              <p class='sub-header-6'>Used:</p>
              <p class=' content1'>JavaScript, HTML, CSS, Ionic, Geolocation, MongoDB, Express, Cordova, Google Map’s API </p>
          </div>
          <div class="h5-section">
              <p class='sub-header-6'>Source: </p>
              <a class=' content1' href='https://github.com/iamalx/places-of-interest-frontend'>Repository</a>
              <p class="separator">|</p>
              <a class='content1'href="https://finstockapp.herokuapp.com">Site</a>
            </div>  
        </div>
        <div class='fintech sect' id='fintech'>
          <h1 class='title-hd'>Fintech Web App</h1>
          <p>June, 2018 </p>
          <h4 class='sub-header'>Examples:</h4>
          <div id="carouselExampleControls" class="carousel slide img-shadow img-wrapper2" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/fintech-search.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/fintech-register.png" class="d-block w-100 img" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="../assets/fintech-login.png" class="d-block w-100 img" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <h4 class='sub-header'>Description</h4>
          <p>This web app allows users to search for the hottest stocks in the market. Enter a ticker symbol and let the magic begin. You can search by the hour, day, week, or month.
              In addition, you can read the most relevant news in the left column. Finally, this app lets you save your favorite stocks in a database.</p>
          <div class="h5-section">
              <p class='sub-header-6'>Used:</p>
              <p class=' content1'>JavaScript, CSS, Clarity-Seed, HTML, Angular, MongoDB, Express, ng2-chart, Stock Market API</p>
          </div>
          <div class="h5-section">
              <p class='sub-header-6'>Source:</p>
              <a class='content1'href="https://github.com/iamalx/fin-app-frontend">Repository</a>
              <p class="separator">|</p>
              <a class='content1'href="https://finstockapp.herokuapp.com">Site</a>
          </div>  
        </div>
    </div>
    <div class='Contact'>
    
    </div>
  </main>
</div>
