
home-page{
    scroll-behavior: smooth;
}

    @media screen and (max-width: 1024px) {
        .img-wrapper {
            width: 50%!important;
        }
        .img-wrapper-reboot {
            width: 60%!important;
        }
        .img-wrapper2{
            width: 90%!important;
        }
    }
    @media screen and (min-width: 992px) {
        .side-wrapper {
            height: 100vh;
            width: 20%;
            position: fixed;
        }
        #me{
            width: 60%!important;
        }
        .page-wrapper{
            display: flex;
        }
        .main-wrapper {
            width: 60%!important;
            margin: auto auto 30px 30%!important;
        }
        .side-content{
            margin: auto auto auto auto;
        }
        .title-hd{
            font-size: 2.5em!important;
        }
    }
    @media screen and (max-width: 992px) {
        .side-content {
            margin: 20px auto;
        }
        .side-wrapper{
            float: top;
        }
        .main-wrapper {
            width: 80%;
            margin: 55px auto 30px auto;
        }
    }
    @media screen and (max-width: 767px) {
        .me{
            font-size: 20px!important;
        }
        .main-font{
            margin: 10px auto!important; 
        }
        #experience-hd{
            margin-bottom: 40px!important;
        }
        .main-wrapper {
            width: 100%;
        }
        .about{
            width: 83%;
            margin: 30px auto 30px auto; 
        }
        .projects{
            width: 95%;
            margin: auto;
        }
        .img-wrapper{
            width: 80%!important;
        }
        .img-wrapper-reboot {
            width: 80%!important;
        }
        .img-wrapper2{
            width: 100%!important;
        }
    }
    @media screen and (max-width: 415px) {
        #me{
            width: 150px!important;
        }
    }
    @media screen and (max-width: 375px) {
        .main-font{
            font-size: 40px!important;
        }
        .me{
            font-size: 18px!important;
        }
        .title-hd{
            font-size: 2.0em!important;
        }
        .sub-header{
            font-size: 1.2em!important;
        }
    }
    @media screen and (max-width: 356px) {
        .contact-button{
            margin: 1px!important;
        }
        .resume{
            margin-right: 2px!important; 
        }
    }
    .note{
        font-size: .8rem;
    }
    #me{
        width: 250px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .side-wrapper{
        background-color: rgb(0,74,112);
    }
    .nav-header{
        color: white;
        font-family: 'Ubuntu Mono', monospace;
    }
    .nav-sub-header{
        color:rgb(187, 187, 187);
        font-family: 'Noto Sans', sans-serif;
    }
    .nav-tab{
        color: white!important;
        padding: auto 0;
        padding-left: 0px !important;
    }
    .main-font{
        font-family: 'Ubuntu Mono', monospace;
        font-size: 50px;
        margin: 20px 0px;
        text-shadow: rgba(0, 0, 0, 0.15) 0px 12px 30px;
    }
    .about{
        margin-bottom: 50px;
    }
    .me{
        font-size: 1.4rem;
        text-shadow: rgba(0, 0, 0, 0.15) 0px 12px 30px;
    }
    .projects {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 120px;
        border-radius: 10px;
        position: relative;
        padding: 20px 30px;
    }
    .sect{
        position: relative;
        width: auto;
    }
    .title-hd{
        text-shadow: rgba(0, 0, 0, 0.15) 0px 12px 30px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 2.1em;
    }
    .sub-header{
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.5em;
    }
    .sub-header-6{
        font-family: 'Noto Sans', sans-serif;
        margin-right: 5px;
        font-weight: 500;
    }
    .contact-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .contact-button{
        background-color: rgb(0,74,112);
        border-radius: 50%;
        margin-right: 15px; 
    }
    .icon{
        color: white;
    }
    .resume{
        border-radius: 22px;
        margin-right: 15px;
    } 
    .img-wrapper {
        width: 30%;
        margin: 40px auto 30px auto;
    }
    .separator{
        margin-left: 5px;
        margin-right: 5px;
    }
    .img-wrapper-reboot {
        width: 40%;
        margin: 40px auto 30px auto;
    }
    .img-wrapper2{
        width: 80%;
        margin: 40px auto 30px auto;
    }
    .img-shadow{
        -webkit-box-shadow: 11px 10px 64px 0px rgba(158,158,158,1);
        -moz-box-shadow: 11px 10px 64px 0px rgba(158,158,158,1);
        box-shadow: 11px 10px 64px 0px rgba(158,158,158,1);
    }
    .footnote{
        background-color: transparent;
    }
    .h5-section{
        display: flex;
    }
    #experience-hd{
        text-align: center;
        margin: 20px auto 85px auto;
        position: relative;
        font-size: 1rem;
    }
    .sect{
        margin-top: 25px;
    }



