

   .flex-items{
    }
    @media screen and (min-width: 991px) {
        .side-wrapper {
            height: 100vh;
            min-width: 300px;
        }
        #me{
            width: 40%;
        }
        .page-wrapper{
            display: flex;
            // justify-content:  
        }
        .main-wrapper {
            width: calc(80% - 250px)!important;
        }
    }
    @media screen and (max-width: 991px) {
        // .main-wrapper {
        //     width: 100%;
        //     margin: 20px auto;
        //     background-color: red;
        // }
    }
    // .relative {
    //     position: relative
    // }
    // .menu1 {
    //     position: flex;
    // }

    #me{
        width: 250px;;
        // min-width: 200
    }
    .side-wrapper{
    
    }
    .main-wrapper {
        width: 80%;
        margin: 55px auto 30px auto;
    }
    .main-font{
        font-family: 'Ubuntu Mono', monospace;
        font-size: 50px;
        margin: 20px 0px;
        text-shadow: rgba(0, 0, 0, 0.15) 0px 12px 30px;
    }
    .about{
        margin-bottom: 50px;
    }
    .me{
        font-size: 1.4rem;
        text-shadow: rgba(0, 0, 0, 0.15) 0px 12px 30px;
    }
    // h1, h4{
    //     text-shadow: rgba(0, 0, 0, 0.15) 0px 12px 30px;
    // }
    .projects {
        // width: 80%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 120px;
        border-radius: 10px;
        // margin: auto;
        position: relative;
        padding: 20px 30px;
    }
    .sect{
        position: relative;
        width: auto;
    }
    .title-hd{
        text-shadow: rgba(0, 0, 0, 0.15) 0px 12px 30px;
        font-family: 'Ubuntu Mono', monospace;
    }
    .sub-header{
        font-family: 'Noto Sans', sans-serif;
    }
    .sub-header-6{
        font-family: 'Noto Sans', sans-serif;
        margin-right: 5px;
        font-weight: 500;
        // font-size: 18px;
    }
    .contact-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .contact-button{
        border-radius: 22px;
        margin-right: 15px; 
    }
    .resume{
        // margin: 10px 0px 18px 0px;
        border-radius: 22px;
        margin-right: 15px;
    } 
    .img-wrapper {
        // width: 70%;
        // height: 300px;
        width: 30%;
        margin: 40px auto 20px auto;
    }
    .img-wrapper-reboot {
        width: 40%;
        margin: 40px auto 20px auto;
    }
    .img-wrapper2{
        width: 80%;
        margin: 40px auto 20px auto;
    }
    .img{
        // width: 100%;
    }
    .h5-section{
        display: flex;
    }
    #experience-hd{
        text-align: center;
        margin: 20px auto 85px auto;
        position: relative;
        font-size: 1rem;
        // margin-bottom: 85px;
    }
    .sect{
        margin-top: 25px;
    }



